<div>
    <div class="threeColumn">
        <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="startingTaskLayout taskBox ">
                <div class="align">

                    <h2><i class="fa fontColor fa-thumb-tack " aria-hidden="true"></i>Starting Task</h2>
                </div>

                <hr>
                <ul dnd-list="startingTask">
                    <li ng-repeat="name in startingTask track by $index"
                        dnd-draggable="name"
                        dnd-moved="startingTask.splice($index, 1);updateValue()"
                        dnd-effect-allowed="move"
                    >{{name}}
                        <button type="button" class="btn btn-default buttonDisplay" ng-show="enterForm">
                            <a href="" ng-click="taskDoing($index,'startingTask','middleTask')"><i
                                    class="fa fa-paper-plane" aria-hidden="true"></i></a>
                        </button>
                        <button type="button" class="btn btn-default buttonDisplay" ng-click="editButton($index)"
                                ng-show="addBtn">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </button>


                    </li>

                </ul>
                <!--submit form-->
                <div class="addButton ">
                    <form name=userForm ng-submit="addName()">
                        <input type="text" ng-model="enteredName" class="formColor" ng-show="enterForm" required>
                        <input type="submit" class="formColor" ng-click="saveData()" value="ADD" ng-show="addBtn"
                               ng-disabled="userForm.$invalid">
                    </form>
                    <form name="userForm" ng-hide="updateForm">
                        <input type="text" ng-model="enteredName" class="formColor" required>
                        <input type="submit" class="formColor" name="up" ng-hide="updateBtn" ng-click="updateButton()"
                               value="Update" ng-disabled="userForm.$invalid">
                        <input type="submit" class="formColor" ng-hide="cancelBtn" ng-click="cancelButton()"
                               value="Cancel">
                    </form>
                </div>

            </div>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">

            <div class="startingTaskLayout middleBox">
                <div>

                    <h2><i class="fa fontColor fa-suitcase" aria-hidden="true"></i>Middle Task</h2>
                </div>

                <hr>
                <ul dnd-list="middleTask">
                    <li ng-repeat="name in middleTask track by $index"
                        dnd-draggable="name"
                        dnd-moved="middleTask.splice($index, 1);updateValue()"
                        dnd-effect-allowed="move"
                    >{{name}}
                        <button type="button" class="btn btn-default buttonDisplay">
                            <a href="" ng-click="taskDoing($index,'middleTask','finalTask')">
                                <i class="fa fa-check " aria-hidden="true"></i></a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="startingTaskLayout finalBox">
                <div>

                    <h2><i class="fa fontColor fa-check-circle" aria-hidden="true"></i>Completed Task</h2></div>
                <hr>
                <ul dnd-list="finalTask" ng-model="test">
                    <li ng-repeat="name in finalTask track by $index"
                        dnd-draggable="name"
                        dnd-moved="finalTask.splice($index, 1);updateValue()"
                        dnd-effect-allowed="move"
                    >{{name}}
                        <button type="button" class="btn btn-default buttonDisplay " ng-click="deleteTask($index)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>